<% provide(:title, 'Sign up') %>
<h1>Sign Up!</h1>
<%= form_for @user, :html => {:class => "form-inline", :role => "form"} do |form| %>
  <%= render 'user_form', :f => form %>
  <div>
    <%= form.submit "Create new account", :class => "btn btn-primary" %>
  </div>
<% end %>
